.top-bar {
  flex-shrink: 0;
  background-color: var(--md-sys-color-surface-container);
  color: var(--md-sys-color-on-surface);
  height: 120px;
  padding-top: var(--safe-area-inset-top, 0px);
  transition:
    background-color 0.3s ease,
    height 0.3s ease;
  position: relative;
  z-index: 20;
  display: flex;
  align-items: center;
  overflow: visible;
}
.top-bar-content {
  height: 100%;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
}
.screen-title {
  flex-grow: 1;
  margin: 0;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: 0;
  transform-origin: left bottom;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  white-space: nowrap;
}
.top-actions {
  display: flex;
  align-items: center;
  gap: 4px;
  z-index: 50;
}
md-icon svg {
  fill: currentColor;
  width: 24px;
  height: 24px;
}

.lang-dialog {
  --md-dialog-scrim-color: transparent;
  --md-sys-color-scrim: transparent;
}

.lang-list-container {
  padding: 0 !important;
  min-width: 280px;
}
md-list {
  background: transparent;
  --md-list-container-color: transparent;
}
md-list-item {
  border-radius: 12px;
  margin-bottom: 4px;
}
md-list-item md-icon[slot="end"] {
  color: var(--md-sys-color-primary);
}
